h1{
  color: black;
  font-family: Roboto;
  font-size: 20px;
  padding-right: 600px;
  display: inline;
}

h2 {
  display: inline;
  font-size: 15px;
  font-family: Roboto;
  white-space: nowrap;

}
p{
  font-size: 13px;
  color: #6E767D;
  font-family: Roboto;
  padding-bottom: 0px;
  display: inline;
}



.button {
  color: dodgerblue;
}


.wd-topics-table{
  padding-bottom: 20px;
  padding-top: 20px;
  font-family: Roboto;

}

.wd-topics-table-header-row{
  color: #00A1F2;
  font-family: Roboto;

}
.wd-topics-table-header{
  padding: 16px;
  font-size: 15px;
  font-family: Roboto;


}
.wd-post-image {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  float: right;
  margin: 16px;
  word-wrap: break-word;

}


 .wd-header{
   color: #6e767d;
 }

 .wd-gear-icon{
   width: 28px;
   height: 28px;

 }

 .wd-border {
   border-bottom: 1px solid white;
 }

 .wd-search-twitter {
   color: #808080;
   background-color: white;
   border-radius: 15px;
   width: 550px;
   height: 35px;
   border-color: #D3D3D3;
   border-style: solid;
   display: inline-block;
 }

 .wd-follow-button {
   color: #00A1F2;
 }

.wd-container {
  position: relative;
  text-align: center;
  color: white;
}

.wd-title-who-to-follow{
  font-size: 15px;
  color: white;
  font-weight: bold;
}

.wd-explore-large-image {
  max-width: 100%;
  height: auto;

}

@media  (max-width: 1150px) {
  .wd-mobile-hide{ display: none; !important;}   /* hide it elsewhere */
}

.wd-following-pics{
  height: 35px;
  width: 35px;
  float: left;
  border-radius: 20px;
}


.wd-p-topic{
  font-size: 13px;
  color: #6E767D;
  font-family: Roboto;
  padding-bottom: 0px;
}
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 50px;
  font-weight: bold;
  color: #5A5A5A;
}

@media (max-width: 800px) {
  #bottom-left{font-size: 20px}
}


 .col-2{
 }
@media  (max-width: 600px) {
  #col-2 { display: none; }   /* hide it elsewhere */
}

 .col-8 {
 }

.btn-primary {
  float: right;
  border-radius: 40px;
}


